<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Дневник здоровья</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="body"> style="text-align: center">
<div th:replace="~{navigation :: navi('Home')}"></div>
<div style="position: relative; top: -35px; text-align: center">
<h2 th:if="${#authorization.expression('isAnonymous()')}">Добро пожаловать в приложение здорового образа жизни! <br>Пожалуйста, войдите в свою учётную запись.
</h2>
<button th:if="${#authorization.expression('isAnonymous()')}" type="button" class="btn btn-primary btn-lg"
        data-toggle="modal" data-target="#loginRegisterModal">Войти
</button>
</div>
<div class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="loginRegisterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
<!--            <div class="modal-header">-->
<!--                <ul class="nav" id="loginRegisterTabs" role="tablist">-->
<!--                    <li class="nav-item">-->
<!--                        <p id="loginL">Вход</p>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <div class="modal-body">
                <div class="tab-content" id="loginRegisterTabsContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form class="align-middle" th:action="@{/auth}" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Логин" name="username"
                                       aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Пароль" name="password"
                                       aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Войти</button>
                        </form>
                        <div th:if="${param.error} != null" class="text-danger mt-2">
                            Неправильное имя пользователя или пароль.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        var isError = /*[[${param.error}]]*/ false;
        if (isError) {
            $('#loginRegisterModal').modal('show');
        }
    });
    </script>
</body>
</html>