<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/> найти иконку и закинуть в папку static-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="body"> style="text-align: center">
<div th:replace="~{navigation :: navi('Home')}"></div>

<div th:if="${#authorization.expression('hasRole(''USER'')')}">
    <table class="table">
        <thead>
        <tr>
            <th>Показатели давления</th>
            <th>Время измерения</th>
            <th>Дата измерения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entryPressure : ${entriesPressure}">
            <td th:text="${entryPressure.systolic} + ' / ' + ${entryPressure.diastolic}"></td>
            <td th:text="${#temporals.format(entryPressure.dateOfEntry, 'HH:mm')}"></td>
            <td th:text="${#temporals.format(entryPressure.dateOfEntry, 'dd-MM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#authorization.expression('hasRole(''USER'')')}" >
    <table class="table">
        <thead>
        <tr style="">
            <th>Название тренировки</th>
            <th>Длительность тренировки</th>
            <th>Потраченные калории</th>
            <th>Дата активности</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entriesActivity}">
            <td th:text="${entry.activity.activityName}"></td>
            <td th:text="${entry.durationInMinutes}"></td>
            <td th:text="${entry.calories}"></td>
            <td th:text="${entry.dateOfActivity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#authorization.expression('hasRole(''USER'')')}" >
    <table class="table">
        <thead>
        <tr>
            <th>Название блюда</th>
            <th>Масса блюда(граммы)</th>
            <th>Полученные калории</th>
            <th>Белки</th>
            <th>Жиры</th>
            <th>Углеводы</th>
            <th>Время</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entryNutrition : ${entriesNutrition}">
            <td th:text="${entryNutrition.dish.dishName}"></td>
            <td th:text="${entryNutrition.dishWeight}"></td>
            <td th:text="${entryNutrition.calories}"></td>
            <td th:text="${entryNutrition.proteins}"></td>
            <td th:text="${entryNutrition.fats}"></td>
            <td th:text="${entryNutrition.carbohydrates}"></td>
            <td th:text="${#temporals.format(entryNutrition.timeOfNutrition, 'HH:mm')}"></td>
            <td th:text="${#temporals.format(entryNutrition.timeOfNutrition, 'dd-MM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div> <!--    общая статистика-->
    <p th:text="'Активность сегодня: ' + ${dayHourDuration} + ' ч.  ' + ${dayMinuteDuration} + ' мин.'"></p>
    <p th:text="'Последняя запись о давлении: ' + ${lastBloodPressure.systolic} + ' / ' + ${lastBloodPressure.diastolic} + ' ' +(${lastBloodPressure.dateOfEntry != null ? ' ' + #temporals.format(lastBloodPressure.dateOfEntry, 'HH:mm') : '-:-'})  "></p>
    <p th:text="'Полученные калории: ' + ${todayReceivedCalories}"></p>
    <p th:text="'Потраченные калории: ' + ${todaySpentCalories}"></p>
</div>

</body>
</html>