<!DOCTYPE html>
<html lang="en">
<style>
    body{background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676557779_catherineasquithgallery-com-p-belo-zelenii-fon-dlya-prezentatsii-192.jpg)}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr><th>Название блюда</th><th>Масса блюда(граммы)</th><th>Полученные калории</th><th>Белки</th><th>Жиры</th><th>Углеводы</th><th></th><th></th>
    </tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
</table>
</body>
</html>