<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Давление</title>
    <style>
        body{
            background-image: url(https://webuploads.hb.ru-msk.vkcs.cloud/translucent-image%20%281%29.png); background-repeat: initial; background-attachment: scroll; background-position: top; background-size: 150px 150px;}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body class="body">
<div th:replace="~{navigation :: navi('Pressure')}"></div>
<table class="table">
    <thead>
    <tr>
        <th class="table-bordered" style="border-color: darkgreen">Показатели давления</th>
        <th class="table-bordered" style="border-color: darkgreen">Время измерения</th>
        <th class="table-bordered" style="border-color: darkgreen">Дата измерения</th>
        <th class="table-bordered" style="border-color: darkgreen">Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${entries}">
        <td th:text="${entry.systolic} + ' / ' + ${entry.diastolic}"></td>
        <td th:text="${#temporals.format(entry.dateOfEntry, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(entry.dateOfEntry, 'dd-MM-yyyy')}"></td>
        <td>
            <a th:href="@{'/user/pressure/delete/' + ${entry.id}}" th:text="Удалить" class="text-danger"></a>
        </td>
    </tr>
    </tbody>

</table>
<div th:if="${totalPages > 1}">
    <nav aria-label="...">
        <ul class="pagination">
            <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link" th:href="@{'/user/pressure?page=' + ${pageNum}}" th:text="${pageNum + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPressureModal">
    Добавить запись
</button>

<div class="modal fade" id="addPressureModal" tabindex="-1" role="dialog" aria-labelledby="addPressureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPressureModalLabel">Добавить запись о давлении</h5>
            </div>
            <form id="addPressureForm" th:action="@{/user/pressure/add}" method="post" th:object="${entry}">
            <div class="modal-body">
                <div class="form-group">
                    <label for="systolic">Систолическое давление:</label>
                    <input type="number" min="80" max="300" class="form-control" id="systolic" placeholder="Систолическое давление"  name="systolic" th:value="${entry.systolic}">
                </div>
                <div class="form-group">
                    <label for="diastolic">Диастолическое давление:</label>
                    <input type="number" min="40" max="200" class="form-control" id="diastolic" placeholder="Диастолическое давление" name="diastolic" th:value="${entry.diastolic}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#addPressureForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/user/pressure/add',
                data: formData,
                success: function (response) {
                    console.log(response);
                    $('#addPressureModal').modal('hide');
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
</body>
</html>
