<!DOCTYPE html>
<html lang="en">
<style>
    body{background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676557779_catherineasquithgallery-com-p-belo-zelenii-fon-dlya-prezentatsii-192.jpg)}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="">
    <tr style=""><th>Название тренировки</th><th>Длительность тренировки</th><th>Потреченные калории</th><th></th><th></th>
    </tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
</table>
</body>
</html>