<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="body">
<div th:replace="~{navigation :: navi('Find')}"></div>
<div id="Container" class="management-container">
    <div class="filter-form">
            <div class="form-group">
                <label for="data-type">Выберите тип данных:</label>
                <select class="form-control" id="data-type" name="data-type">
                    <option value="pressure">Давление</option>
                    <option value="nutrition">Питание</option>
                    <option value="activity">Активность</option>
                </select>
            </div>
        <h3>Фильтр</h3>
        <form th:action="@{/med/userData/filter}" method="get">
            <div class="form-group">
                <input type="hidden" class="form-control" name="username" placeholder="Дата записей" th:value="${username}">
            </div>
            <div class="form-group">
                <label for="dob">Дата записей:</label>
                <input type="date" required class="form-control" id="dob" name="date" placeholder="Дата записей" th:value="${date}"  min="1924-01-01">
            </div>

            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
        <a th:href="@{'/med/user/info/' + ${username}}" style='margin-top: 10px' type="submit"
           class="btn btn-danger">Сбросить</a>
        <button type="button" id="backButton" style="margin-bottom: -10px" class="btn btn-secondary btn-back">Назад</button>
    </div>

    <div class="table-container">
        <table class="table" data-type="pressure" style="display: none">
            <thead>
            <tr>
                <th class="table-bordered" style="border-color: darkgreen">Показатели давления</th>
                <th class="table-bordered" style="border-color: darkgreen">Время измерения</th>
                <th class="table-bordered" style="border-color: darkgreen">Дата измерения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entryPressure : ${entriesPressure}">
                <td th:text="${entryPressure.systolic} + ' / ' + ${entryPressure.diastolic}"></td>
                <td th:text="${#temporals.format(entryPressure.dateOfEntry, 'HH:mm')}"></td>
                <td th:text="${#temporals.format(entryPressure.dateOfEntry, 'dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table" data-type="nutrition" style="display: none">
            <thead>
            <tr>
                <th class="table-bordered" style="border-color: darkgreen">Название блюда</th>
                <th class="table-bordered" style="border-color: darkgreen">Масса блюда(граммы)</th>
                <th class="table-bordered" style="border-color: darkgreen">Полученные калории</th>
                <th class="table-bordered" style="border-color: darkgreen">Белки</th>
                <th class="table-bordered" style="border-color: darkgreen">Жиры</th>
                <th class="table-bordered" style="border-color: darkgreen">Углеводы</th>
                <th class="table-bordered" style="border-color: darkgreen">Время</th>
                <th class="table-bordered" style="border-color: darkgreen">Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entryNutrition : ${entriesNutrition}">
                <td th:text="${entryNutrition.dish.dishName}"></td>
                <td th:text="${entryNutrition.dishWeight}"></td>
                <td th:text="${entryNutrition.calories}"></td>
                <td th:text="${entryNutrition.proteins}"></td>
                <td th:text="${entryNutrition.fats}"></td>
                <td th:text="${entryNutrition.carbohydrates}"></td>
                <td th:text="${#temporals.format(entryNutrition.timeOfNutrition, 'HH:mm')}"></td>
                <td th:text="${#temporals.format(entryNutrition.timeOfNutrition, 'dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table" data-type="activity" style="display: none">
            <thead>
            <tr style="">
                <th class="table-bordered" style="border-color: darkgreen">Название тренировки</th>
                <th class="table-bordered" style="border-color: darkgreen">Длительность тренировки</th>
                <th class="table-bordered" style="border-color: darkgreen">Потраченные калории</th>
                <th class="table-bordered" style="border-color: darkgreen">Дата активности</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entryActivity : ${entriesActivity}">
                <td th:text="${entryActivity.activity.activityName}"></td>
                <td th:text="${entryActivity.durationInMinutes}"></td>
                <td th:text="${entryActivity.calories}"></td>
                <td th:text="${#strings.replace(#strings.substring(entryActivity.dateOfActivity,8,10) + '-' + #strings.substring(entryActivity.dateOfActivity,5,7) + '-' + #strings.substring(entryActivity.dateOfActivity,0,4), 'null', '')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById('dob').setAttribute('max', today);

    function saveSelectedType() {
        var selectedOption = document.getElementById('data-type');
        var typeS = selectedOption.value;
        localStorage.setItem('selectedType', typeS);
    }

    function restoreSelectedType() {
        var selectedType = localStorage.getItem('selectedType');
        if (selectedType) {
            document.getElementById('data-type').value = selectedType;
        }
    }
    function displayTable() {
        var selectedOption = document.getElementById('data-type');
        var typeS = selectedOption.value;
        var tables = document.querySelectorAll(".table");

        for (var i = 0; i < tables.length; i++) {
            tables[i].style.display = 'none';
        }
        var selectedTable = document.querySelector("table[data-type='" + typeS + "']");
        if (selectedTable) {
            selectedTable.style.display = 'table';
        }
    }
    window.onload = function() {
        restoreSelectedType();
        displayTable();
    };

    $(document).ready(function() {
        $('#data-type').change(function() {
            saveSelectedType();
            displayTable();
        });
    });
    document.getElementById("backButton").addEventListener("click", function (event) {
        event.preventDefault();

        var previousUrl = localStorage.getItem('previousUrl');
        if (previousUrl) {
            window.location.href = previousUrl;
        }
    });
</script>
</body>
</html>